@use './partials/component-base' as base;

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: base.$s-space-0;
  font-weight: bold;
}

h2 {
  font-size: 1.25rem;
}

h1 {
  font-size: 2rem;
}

.section {
  max-width: 1200px;
  margin: auto;
  padding: 0 base.$s-space-4 0 base.$s-space-4;
}

header {
  margin: 1rem 0;
}
